.bg-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.content-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 90%;
  padding: 60px;
}
.top-container {
  display: flex;
  justify-content: space-between;
}
.top-left-container {
}
.form {
  display: flex;
  flex-direction: column;
}
.lable {
  font-family: 'Roboto';
  font-size: 14px;
  color: #b5b7c4;
  font-weight: 400;
  margin-bottom: 8px;
}
.input {
  font-family: 'Roboto';
  font-size: 14px;
  margin-bottom: 20px;
  border: solid 1px #171f46;
  height: 40px;
  width: 250px;
  border-radius: 4px;
}
.button {
  background-color: #8b5cf6;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 8px;
  height: 30px;
  width: 60px;
  color: #ffffff;
  outline: none;
  border: 0px;
}
.horizontal-line {
  color: #b5b7c4;
  margin-top: 20px;
}
.bottom-container {
  width: 100%;
}
.appointment-heading-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointments-text {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
}
.starred-button {
  height: 30px;
  width: 80px;
  background-color: #ffffff;
  border: 1px solid #9897f0;
  border-radius: 15px;
  color: #9897f0;
  font-weight: 600;
}
.appointments-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}
